.imagen{
    margin: auto;
}
 
button{
    margin: 3px;
}

img{
    display: block;
    height: auto;
    max-width: 100%;
    margin: 0 auto; 
}

.div{
    background-color: wheat;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    width: 300px;
    margin: 10px;
}

.texto-centrado{
    text-align: center;
}

.seccion{
    background-color: rgb(216, 216, 216);
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 300px;    
}

.seccion ul{
    text-align: left;
}