@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
}


#root{
    background-color: #EEF7FF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: auto;
}

.card{
    width: 200px;
    padding: 10px;
    background: radial-gradient(#12c6d6, #51bffa);
}

header{
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    }