
body{
    margin-left: 20px;
}

li {
    border: 2px solid rgb(114, 200, 250);
    padding: 0.5rem;
    border-radius: 7px;
    margin-bottom: 5px;
}

ul {
    list-style: none;
    padding: 1rem;
    border: 2px solid rgb(30, 210, 165);
    border-radius: 7px;
}