
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Montserrat", sans-serif;
}

.header{
    height: 120px;
    width: 100%;
}

.logo{
    width: 150px;
}

.tarjeta{
    width: 18em;
    border-left: 6px solid #004899;
    border-radius: 0 10px 10px 0;
    min-width: 400px;
    min-height: 120px;
}

.layout{
    display: flex;
    gap: 10px;
}

input{
    height: 35px;
    width: 600px;
    outline: none;
    border: 1px solid gainsboro;
    padding-left: 30px
}

input:focus{
    outline: none;
}

.botonBusqueda{
    margin-left: 20px;
    border-radius: 25px;
    padding: 3px 20px 3px 20px;
    border: none;
}

.botonBusqueda:hover{
    background-color: rgb(138, 201, 245);
}