body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.imagen {
    margin: auto;
}

button {
    margin: 3px;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
}

.div {
    background-color: rgb(214, 215, 245);
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    min-width: 300px;
    margin: 10px;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 3px 0px rgba(139, 98, 235, 0.75);
}

.texto-centrado {
    text-align: center;
}

.seccion {
    margin:  10px auto;
    background-color: rgb(200, 233, 241);
    border-radius: 15px;
    text-align: center;
    padding: 15px;
    width: 300px;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 3px 0px rgba(49, 165, 180, 0.75);
}

.seccion ul {
    text-align: left;
}
